.main {
  background-color: rgb(109, 109, 232);
  width: 600px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.badge, .badge * {
  /* border: 2px solid red; */
  margin: 2px;
}
.badge {
  flex: 0;
}
.badgeBox {
  /* border: 2px solid blue; */
  position: relative;
}
.badgeTitle {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

  position: absolute;
  transform: translate(-50%,-50%);
  top: 48%;
  left: 50%;

  font-size: 450%;
  text-align: center;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

