.main {
  /* background-color: aqua; */
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.badgeCard {
   flex: 1 270px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   margin: 10px;
   padding: 5px;
   max-width: 350px;
   border: 3px solid var(--secondary-color);
   border-radius: 8px;
   position: relative;
   /* background-color: blueviolet; */
}
.xp {
  color: var(--secondary-color);
  position: absolute;
  top: 2%;
  left: 2%;
  font-size: 1.6rem;
  font-weight: 400;
}
.badgeCard * {
  /* background-color: antiquewhite; */
  margin: 2px;
}

.badge {
  display: flex;
  justify-content: center;
}

.mainTitle {
  text-align: center;
  font-size: 3rem;
  margin-top: 40px;
  margin-bottom: 20px;
}
.welcomeBox {
  display: flex;
  /* background-color: aquamarine; */
  justify-content: center;
  margin-bottom: 20px;
}
.welcome {
  max-width: 580px;
  margin: 20px;
  text-align: center;
  font-size: 2rem
}
@media (max-width: 400px) {
  .welcome {
    font-size: 1.7rem;
  }
}

.title {
  text-align: center;
  font-size: 2rem;
  margin: 15px 0;
}
.description {
  margin: 10px;
  font-size: 1.3rem;
  text-align: justify;
}
/* .iconBox {
  display: flex;
  justify-content: center;
} */
.iconBox * {
  font-size: 3rem;
  /* text-align: center; */
}
.check,.add {
  text-align: center;
}
.check * {
  text-align: center;
  margin: 0;
  padding: 0;
  color: green;
}
.add * {
  text-align: center;
  margin: 0;
  padding: 0;
  color: red;
}
.add *:hover {
  cursor: pointer;
}

.text {
  font-size: 1.4rem;
  margin: 0;
  padding: 0;
  color: black;
  transform: translate(0, -40%);
}
