.comm {
  font-family: 'Sono';
}
.comm h1, .comm h2 {
  font-family: 'GFS Neohellenic';
}

.header {
  /* background-color: aquamarine; */
  display: flex;
  justify-content: space-between;
}
.header * {
  margin: 0 20px;
  /* background-color: rgb(72, 72, 221); */
  /* height: 1000px; */
}
.resources {
  padding: 20px 0;
}
.resources h2 {
  text-align: center;
}

.buttons {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calendly {
  position: relative;
  flex: 1.5;
  max-width: 500px;
  /* height: 1000px; */
  max-height: 450px;
  overflow-y: hidden;
  overflow-x: hidden;
  /* background-color: antiquewhite; */
}
.scrollArrow {
  position: absolute;
  top: 80%;
  left: 75%;
  animation: updown 7s ease-in-out infinite;
  animation-fill-mode: both;
}
.scrollArrow p {
  text-align: center;
  padding: 0;
  margin: 0;
}
@keyframes updown {
  0% {
    opacity: .6;
    transform: translate(0, -15px);
  } 50% {
    opacity: 1;
    transform: translate(0, 0px);
  } 100% {
    opacity: .6;
    transform: translate(0, -15px);
  }
}

/* RESOURCES */

.discord,
.facebook,
.googleCalIcon
{
  margin: 8px;
  cursor: pointer;
  padding-left: 14px;
  font-size: 1.1rem;
  color: white;
  width: 170px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 10px;
}
.discord {
  background-color: #5865F2;
}
.discord i {
  transform: translateX(-3px);
}
.resources i {
  flex: 1;
  padding: 0;
  margin: 0;
  /* border: 2px solid red; */
}
.resources p {
  flex: 4;
  /* border: 2px solid red; */
  text-align: left;
}

.facebook {
  background-color: #1778F2;
}
.googleCalIcon {
  background-color: #ea4335;
}

.members {
  padding: 0 60px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  /* background-color: aquamarine; */
}
.members > * {
  /* background-color: #1778F2; */
  flex: 1 1 400px;
  max-width: 400px;
}

@media (max-width: 670px) {
  .members {
    padding: 0;
  }
}

