.main p {
  /* background-color: beige; */
}

.paddingTop {
  /* border: 2px solid red; */
  height: 80vh;
}
.section2 span {
  color: var(--primary-color);
  font-weight: 700;
  font-size: 1.1em;
  padding: 10px;
  display: inline-block;
  letter-spacing: 1px;
}

@media (max-width: 850px) {
  .paddingTop {
    height: 80vh;
  }
  .headerBox {
    /* padding-top: 100px; */
  }
  .imgBox {
    display: absolute;
    transform: translate(0, 100px);
    /* height: 200px; */
    max-height: 380px;
  }
}
@media (min-width: 850px) {
  .header {
    /* background-color: aquamarine; */
    height: 100vh;
  }
}
@media (max-width: 508px) {
  .paddingTop {
    height: 80vh;
  }
  .imgBox {
    display: absolute;
    transform: translate(0, 120px);
    max-height: 380px;
  }
}
.header {
  /* padding-top: 80px; */
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: -10;
  height: 100vh;
  /* height: fit-content; */
  display: flex;
  justify-content: center;
  /* background-color: rgb(209, 46, 46); */
  background-color: black;
}
.headerBox {
  /* border: 10px solid red; */
  /* padding-top: 30px; */
  /* background-color: aquamarine; */
  max-width: 1000px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  /* justify-content: center; */
}
@media (min-width: 850px) {
  .headerBox {
    padding-top: 50px;
  }
}
@media (max-width: 400px) and (max-height: 790px) {
    .headerBox img {
      opacity: .3;
    }

    .headerBox h1 {
      transform: translate(0, -100px);
    }
}
@media (max-width: 350px) and (max-height: 540px) {
    .headerBox h1 {
      transform: translate(0, -130px);
    }
}

.headerBox * {
  flex: 1 1 425px;
}

.title {
  /* background-color: antiquewhite; */
  display: flex;
  align-items: center;
}

.title h1 {
  font-weight: 400;
  color: white;
  /* background-color: aqua; */
  font-size: clamp(2.3rem, 5vw,3rem);
  padding: 0 50px;
  text-align: center;
}
.title h1 span {
  color: var(--bright-color);
}

.imgBox {
  position: relative;
  width: 50%;
  height: 70vh;
  /* border: 2px solid green; */
  /* background: linear-gradient(290deg, var(--primary-color) 10%, var(--bright-color)); */
  /* background: var(--bright-color); */
  /* mask-image: url('/spartanClip2.png'); */
  /* mask-image: url('/cicero.png'); */
  /* mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center; */
}
.video {
  position: absolute;
  width: 100%;
  height: 100%;
  /* z-index: 100; */
  /* rotate: -90deg; */
  /* border: 1px solid green; */
  object-fit: cover;
  object-position: 50px;
  /* top: 0; */
  /* left: 0; */
  mix-blend-mode: multiply;
}

.imgBox img {
  /* mix-blend-mode: multiply; */
  object-fit: contain;
  width: 100%;
  height: 100%;
}

/* FIRST SECTION */

.section1 {
  color: var(--bg-color);
  margin: 0 0 80px 0;
  /* background-color: aqua; */
}
.p1 {
  font-size: 1.8rem;
  text-align: center;
  width: 50%;
  min-width: 460px;
  margin: 0 auto;
}

.sectionH1 {
  font-size: 2.8rem;
  text-align: center;
  margin: 25px 15px;
}

.threeCols {
  color: var(--bright-color);
  display: flex;
  justify-content: center;
  margin-top: 30px;
  flex-wrap: wrap;
}
.iconBox {
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}
.threeCols .icon {
  width: 100px;
  height: 100px;
}
.threeCols img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.threeCols * {
  /* background-color: var(--bg-color); */
  background-color: var(--bg-color);
  flex: 1 1 280px;
  margin: 10px;
  /* padding: 5px; */
  max-width: 400px;
}
.sectionH2,.sectionH2b {
  /* background-color: aqua; */
  color: var(--bright-color);
  /* padding-top: 10px; */
  display: flex;
  align-items: center;
  text-align: center;
  /* height: 120px; */
  font-size: 1.2rem;
}
.sectionH2b {
  font-size: 1.02rem;
}

.threeCols p {
  font-weight: 400;
  margin: 20px;
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.4;
}

@media (max-width: 672px) {
  .sectionH2,.sectionH2b
  {
    /* background-color: aquamarine; */
    height: 70px;
  }
  .sectionH2b {
    font-size: 1.2rem;
  }
}
@media (max-width: 520px) {

  .p1 {
    min-width: 40px;
    width: 95%;
  }

  .sectionH2b
  {
    font-size: 1rem;
    /* background-color: aquamarine; */
    height: 70px;
  }
}

@media (min-width: 815px) {
  .sectionH2b
  {
    font-size: 1.2rem;
    /* background-color: aquamarine; */
  }
}
@media (max-width: 450px) {
  .sectionH2b
  {
    font-size: 1.2rem;
    /* background-color: aquamarine; */
  }
}

/* SECTION TWO  */
.section2 {
  /* background-color: aqua; */
  margin: 80px auto;
  color: var(--bg-color);
  padding: 0 30px;
  max-width: 600px;
}

.section2 h1, .section3 h1 {
  font-size: 2.8rem;
  text-align: center;
}
.section2 p{
  font-size: 1.6rem;
  text-align: center;
}
.section3 p {
  font-size: 1.6rem;
  text-align: center;
}

.section3 {
  /* background-color: antiquewhite; */
    margin: 80px auto 40px auto;
    color: var(--bg-color);
    padding: 0 30px;
    /* max-width: 950px; */
}
.section3 p {
    max-width: 500px;
    margin: 10px auto;
}

.lastParaBox {
  display: flex;
  justify-content: center;
  /* background-color: bisque; */
}

.lastPara {
  font-size: 3rem;
  max-width: 630px;
  text-align: center;
  margin: 20px;
  /* background-color: aqua; */
}
.lastPara2 {
  text-align: center;
  font-size: 2rem;
  margin: 40px 10px 80px 10px;
}
@media (max-width: 590px) {
  .lastPara {
    font-size: 2.4rem;
  }
}
@media (max-width: 454px) {
  .lastPara {
    font-size: 2rem;
  }
}

.btnJoin {
  width: fit-content;
  text-align: center;
  background-color: var(--bright-color);
  color: var(--bg-color);
  margin: 30px auto 30px auto;
  padding: 20px;
  font-size: 1.5rem;
  font-weight: 400;
  border-radius: 10px;
}
.btnJoin:hover {
  cursor: pointer;
}



.opCols {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
.opCols a {
  color: inherit;
  text-decoration: none;
}

.opCols > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  /* background-color: var(--primary-color);
  color: var(--bright-color); */
}

.fadeUpSlow {
  animation: fadeUp .7s ease-in-out .2s;
  animation-fill-mode: both;
}
.fadeUpMed {
  animation: fadeUp .7s ease-in-out .7s;
  animation-fill-mode: both;

}
.fadeUpFast {
  animation: fadeUp .7s ease-in-out 1.2s;
  animation-fill-mode: both;

}

.fadeInAnim {
  animation: fadeIn 1.8s ease .2s;
  animation-fill-mode: both;
}
.fadeInAnimSmall {
  animation: fadeInSmall 1.8s ease .2s;
  animation-fill-mode: both;
}

@keyframes fadeUp {
  from {
    transform: translate(0, 30px);
    opacity: 0;
  }
  to {
    transform: translate(0, 0px);
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    /* transform: translate(0, 30px); */
    scale: .97;
    opacity: 0;
  }
  to {
    /* transform: translate(0, 0px); */
    scale: 1;
    opacity: 1;
  }
}
@keyframes fadeInSmall {
  from {
    /* transform: translate(0, 30px); */
    scale: .97;
    opacity: 0;
  }
  to {
    /* transform: translate(0, 0px); */
    scale: 1;
    opacity: .3;
  }
}


.opCols h3 {
  font-size: 3rem;
  margin: 0;
}
.opCols p {
  /* flex: 1 1 195px; */
  max-width: 300px;
  /* background-color: aquamarine; */
  /* max-height: 120px; */
}



