.main {
  /* background-color: rgb(136, 213, 213); */
  font-family: var(--font2);
  padding-bottom: 50px;
}
.title {
  text-align: center;
  font-size: 3rem;
}
.welcome {
  display: flex;
  justify-content: center;
  margin: 0 15px;
}
.welcomePara {
  margin: 5px 0 25px 0;
  max-width: 600px;
  text-align: center;
  font-size: 1.6rem;
  font-family: var(--font3);
  font-weight: 400;
}

.formContainer {
  width: 300px;
  margin: 10px auto;
  /* background-color: antiquewhite; */
}

.joinForm {
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
}

.joinForm * {
  /* background-color: aquamarine; */
  margin-top: 6px;
  font-family: var(--font2);
}
.submitBtn {
  padding: 14px;
  margin-top: 20px;
}
.submitBtn3 {
  padding: 5px;
  margin-top: 20px;
}
.loadingBox {
  height: 100px;
  display: flex;
  justify-content: center;
}
.submitBtn2 {
  text-align: center;
  border-radius: 3px;
  /* border: 1px solid red; */
  background-color: rgb(192, 193, 194);
  padding: 14px;
  margin-top: 20px;
}
.submitBtn2:hover {
  cursor: pointer;
}

.main h1 {
  text-align: center;
}

.imagePick {
  /* background-color: antiquewhite; */
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 220px;
  margin-bottom: 30px;
}
.growAnim {
  animation: grow .5s ease;
  animation-fill-mode: forwards;
  }
.fadeInAnim {
  animation: fadeIn 1s ease;
  animation-delay: .8;
  animation-fill-mode: forwards;
  }

  @keyframes grow {
  from {
    height: 220px;
  }
  to {
    height: 290px;
  }
  }
  @keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
  }

.cropBtn {
  /* background-color: aquamarine; */
  display: flex;
  justify-content: center;
  margin: 20px 0 10px 0;
  /* padding: 10px 0; */
}

.imgPreview {
  width: 150px;
  height: 150px;
}
.imgPreview img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.passResetLink:hover {
  cursor: pointer;
}
