.main {
  /* background-color: rgb(136, 213, 213); */
}

.main h1 {
  text-align: center;
}

.form {
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}
.form * {
  margin-top: 10px;
}
.imgPreview {
  width: 150px;
  height: 150px;
}
.imgPreview img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.uploadBtn {
  margin: 100px;
  padding: 30px;
}
.cropper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 50%;
  height: 50%;
}