.container {
  max-width: 1200px;
  margin: 0 auto;
  /* background-color: var(--dark-color); */
}

.bigNav, .smallNav {
  /* background-color: var(--bg-color); */
  background-color: var(--dark-color);
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin: 20px 0;
}

.navItems {
  /* background-color: rgb(135, 128, 118); */
  display: flex;
  align-items: center;
}
.link {
  text-decoration: none;
  color: var(--bright-color);
  font-size: 1.8rem;
  margin: 0 20px;
}

.link:hover {
  color: var(--bright-color)
}

.footer {
  background-color: var(--primary-color);
  height: 150px;
  padding: 20px;
  color: var(--secondary-color);
}

.logoBox {
  /* background-color: rgb(196, 196, 196); */
  width: 130px;
  height: 130px;
  padding-left: 30px;
}
.logoBox:hover {
  cursor: pointer;
}
.logoBox img {
  /* fill: red; */
  opacity: 70%;
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: relative;
}

.drawer {
  display: none;
  align-items: center;
  /* background-color: aqua; */
}
.drawer *:hover {
  cursor: pointer;
  color: var(--bright-color);
}

.smallNav {
  display: none;
}

@media (max-width: 800px) {
  .bigNav
  {
  display: none;
  }
  .smallNav {
    display: flex;
  }
.drawer {
  display: flex;
}
.logoBox {
  padding-left: 0px;

}

}
@media (max-width: 1230px) {
  .bigNav, .smallNav
  {
    padding: 20px;
  }

}