.card {
  background-color: var(--bg-color);
  /* height: 300px; */
  border-radius: 12px;
  padding: 20px;
  margin: 30px 10px;
  color: white;
  position: relative;
}
.card::before {
  content: '';
  /* background-color: var(--bright-color); */
  background: linear-gradient( to left, var(--bright-color), var(--primary-color));
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -3;
  transform: translate(4px, -4px);
  border-radius: 10px;
}

.div {
  display: flex;
}
.div * {
  /* background-color: aquamarine; */
  margin: 10px;
}

.pic {
  width: 20px;
  height: 20px;
  flex: 1;
}
/* .pic img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */


.userInfo {
  flex: 4;
}
.bio {
  margin: 20px 10px;
}
.badgeIcons {
  font-size: 2rem;
}
.badgeIcons i {
  padding: 0;
  margin: 0;
  /* border: 2px solid red; */
}
