.card {
  background-color: var(--bg-color);
  /* height: 300px; */
  border-radius: 12px;
  padding: 20px;
  margin: 20px 10px;
  color: white;
  position: relative;
  display: flex;
  justify-content: flex-start;
}
.card::before {
  content: '';
  /* background-color: var(--bright-color); */
  background: linear-gradient( to left, var(--bright-color), var(--primary-color));
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -3;
  transform: translate(4px, -4px);
  border-radius: 10px;
}
.xp {
  position: absolute;
  top: 4%;
  right: 4%;
  font-size: 1.3rem;
  color: var(--secondary-color)
}
.joinDate {
  /* position: absolute; */
  /* top: 60%; */
  /* left: -3%; */
  font-size: 1rem;
  color: var(--secondary-color);
  margin-top: 20px;
  white-space: nowrap;
  text-align: center;
}

.pic {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid red; */
  position: relative;
  flex: 1;
  padding-left: 20px;
  /* background-color: aqua; */
  margin: 20px 0;
}
.pic:hover, .name:hover {
  cursor: pointer;
}
.name {
  font-size: 1.8rem;
}

.userInfo {
  flex: 4;
  /* width: 20px; */
  /* background-color: azure; */
  padding-left: 20px;
}
.ageCity {
  /* background-color: blue; */
  margin: -15px 0 0 0;
}
.bio {
  margin: 20px 0;
}
.badgeList {
  /* background-color: aquamarine; */
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: 256px;

  max-height: 110px;
  overflow-y: hidden;
}
.badgeList * {
  /* background-color: antiquewhite; */
  flex: 0;
}
.badgeListTitle {
  margin-bottom: 7px;
}

@media (max-width: 450px) {
  .card {
    margin: 10px;
    padding: 10px;
  }
  .pic {
    /* background-color: red; */
    margin: 40px 0;
    padding-left: 10px;
  }
  .userInfo {
    margin: 20px 0;
    padding-left: 20px;
  }
}
