.main a {
  text-decoration: none;
  /* height: 50vh; */
}
.card {
  padding: 3px;
  /* background-color: blueviolet; */
  padding: 10px;
  min-height: 600px;
}
.title {
  background-color: var(--primary-color);
  color: white;
  border-radius: 14px;
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
}
.yourProfileBtn {
  margin: 11px 0;
  padding: 0 20px;
}
.yourProfileBtn:hover {
  cursor: pointer;
}

.header {
  display: flex;
  flex-wrap: wrap;
}
.header * {
  /* background-color: azure; */
  margin: 1px;
}
.pic {
  /* background-color: aqua; */
  /* height: 270px; */
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 300px;
}
.xp {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 20px;
  color: var(--primary-color)
}
.joinDate {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 200;
  /* color: var(--secondary-color) */
}
.info {
  flex: 1.2 400px;
  /* padding: 20px; */
  padding: 20px 0 20px 30px;
}
.name {
  font-size: 2.2rem;
}
.ageCity {
  font-size: 1.3rem;
}
.speechCount {
  margin-top: 15px;
  font-size: 1.3rem;
}

.btnPic {
  margin: 10px 0;
}

.bio {
  flex: 1.5 1 300px;
}
 /* BODY  */
 .bodyBox {
  /* background-color: aqua; */
  display: flex;
  flex-wrap: wrap;
}

.badges {
  /* background-color: rgb(0, 255, 72); */
  flex: 2 1 400px;
  padding: 20px 10px;
}
.badges h1, .personalLinks h1 {
  /* padding-left: 60px; */
  text-align: center;
}
.badgeList {
  display: flex;
  margin: 0 auto;
  /* justify-content: center; */
  max-width: 440px;
  flex-wrap: wrap;
}

.personalLinks {
  /* background-color: rgb(255, 0, 242); */
  flex: 1 1 300px;
 }

.personalLinks div {
  /* margin-left: 40px; */
  margin: 10px auto;
 }

 .link
 {
  margin: 8px;
  cursor: pointer;
  padding: 0 14px;
  font-size: 1.1rem;
  color: white;
  width: 165px;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 10px;
}
.link * {
  margin: 5px;
  line-height: 0;
}

.discord {
  background-color: #5865F2;
}
.email {
  background-color: #5a5a5a;
}
.notion {
  background-color: #242424;
}

 /* END BODY  */


.textArea {
  font-family: 'var(--font2)';
  font-size: 1.1rem;
  width: 300px;
  height: 250px;
}
.bioText {
  padding-top: 9px;
  font-size: 1.4rem;
}
.errorMsg {
  color: red;
  background-color: hsla(0, 91%, 82%, 0.247);
  margin: 15px;
  padding: 10px;
  font-family: var(--font3);
  width: fit-content;
}

@media (max-width: 750px) {
  .name,.ageCity,.speechCount {
    text-align: center;
  }
}
@media (max-width: 650px) {
  .info {
    padding: 20px 0;
  }
  .bioText {
    /* background-color: aqua; */
    margin: 15px;
  }
}
@media (max-width: 400px) {
  .bio {
    padding-left: 5px;
  }
}

