.main {
  /* background-color: aquamarine; */
  /* height: 50vh; */
}
.card {
  padding: 3px;
  /* background-color: blueviolet; */
  padding: 10px;
  min-height: 600px;
}
.title {
  background-color: antiquewhite;
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
}
.yourProfileBtn {
  margin: 11px 0;
  padding: 0 20px;
}
.yourProfileBtn:hover {
  cursor: pointer;
}

.header {
  display: flex;
  flex-wrap: wrap;
}
.header * {
  /* background-color: azure; */
  margin: 1px;
}
.pic {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  flex: 1 300px;
}
.info {
  flex: 1.2 400px;
  /* padding: 20px; */
  padding: 20px 0 20px 30px;
}
.name {
  font-size: 2.2rem;
}
.ageCity {
  font-size: 1.3rem;
}
.speechCount {
  margin-top: 15px;
  font-size: 1.3rem;
}

.bodyBox {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
/* .bodyBox * {
  flex: 1 1 300px;
} */
.bio {
  flex: 1.5 1 300px;
}
.badges {
  flex: 1 1 200px;
}
.links {
  flex: 1 1 200px;
}

.bio,.badges,.links {
  background-color: azure;
  margin: 1px;
  padding-left: 20px;
  padding-bottom: 20px;
  /* max-width: 760px; */
}

.bio h3, .badges h3, .links h3 {
  font-size: 2rem;
}

.textArea {
  font-family: 'var(--font2)';
  font-size: 1.1rem;
  width: 300px;
  height: 250px;
}

@media (max-width: 750px) {
  .name,.ageCity,.speechCount {
    text-align: center;
  }
}
@media (max-width: 650px) {
  .info {
    padding: 20px 0;
  }
}
@media (max-width: 400px) {
  .bio {
    padding-left: 5px;
  }
}

