.badgeTooltip * {
  font-family: var(--font3);
}

.badgeTooltip {
  width: 300px;
  padding: 10px;
}



.dateAndXp {
  display: flex;
  justify-content: center;
}
.dateAndXp * {
  margin: 5px;
}
.btn {
  display: flex;
  justify-content: center;
}